<!DOCTYPE html>
<html>
    <header>
        <title>{{post.title}}</title>
    <header>
    <head>
        <link rel="stylesheet" href="{{STATIC_URL}}/static/article.css">
    </head>
    <body class="article">
        <div class="header">
            <div>
                {% if request.user.is_authenticated %}
                <a href="article/new/"><div class="post-title">Создать статью</div></a>
                <a href="logout"><div class="post-title">Выйти из аккаунта</div><a>
                {% else %}
                <a href="login"><div class="post-title">Войти в аккаунт</div></a>
                <a href="register"><div class="post-title">Регистрация</div></a>
                {% endif %}
            </div>
        <img src= "https://abitur.mtuci.ru/bitrix/templates/modern_blue_s5/images/abitur_MTUCI-logo.png">
        <a href="../"><div class="post-title"> Все записи </div></a>
    </div>
    <div class="articlediv">
        <div class="one-post">
            <h2 class="post-title">{{ post.title }}</h2>
            <div class="article-info">
            <div class="article-author">{{ post.author.username }}</div>
            <div class="article-created-date">{{ post.created_date }}</div>
            </div>
            <p class="article-text">{{ post.get_excerpt }}</p>
        </div>
    </div>
    </body>
</html>